@using Store.AspProject.DataLayer.Models.Product
@using Store.AspProject.Utilites

@model Product




<div class="card border-primary m-1 col-3 p-2" style="max-width: 18rem;">

    <img src="@ImagesfilePath.ProductImage@Model.ImageName" class="img-thumbnail" />


    <div class="p-1 ">
        <h4 class="card-title align-content-around">@Model.ProductTitle</h4>
        <p class="card-text">@Html.Raw(@Model.ProductDescription)  </p>


    </div>
    <div class="row">
        <div class="p-0 m-2 ">
            <a class="btn btn-outline-primary" href="/Product/shopingCart/@Model.ProductId">
                 خرید
            </a>
             <a class="btn btn-outline-primary " href="/Product/Detail/@Model.ProductId">
                جزئیات
            </a>
        </div>
       
    </div>

</div>
