@{
    ViewData["Title"]
    = " درباره ما";
}



<div class="row m-2  justify-content-center">

    <div class="col-10" style="border: 2px solid #f184b5;padding:50px">
        <div class="jumbotron">
            <h1 class="display-3"> دوره asp.net core</h1>
            <h2 class="display-5"><p>پروژه ساخت فروشگاه با فریم ورک asp.net core 6</p></h2>
          

            <p>موسسه برنامه نویسان</p>
            <p>استاد:دکتر مدائنی</p>

            <p>توسعه دهنده:حامد پناهی</p>
            <a class="btn btn-primary btn-lg" href="https://hamedpanahi.info/" role="button">hamedpanahi.info</a>
        </div>
    </div>
</div>
