
@{
   ViewData["Title"] = " تماس با ما";
}



<div class="container">
    
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">خانه</a></li> /
                <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
            </ol>
        </nav>
    </div>


<div class="row justify-content-center border-3">
    <div class="col-lg-8">
        <h3> راه های ارتباطی </h3>
        <ul>
            <li>تلفن :09359501817 </li>
            <li>ایمیل : hamed.panahi03@gmail.com</li>
            <li>آدرس : ایران</li>
        </ul>
    </div>
</div>
</div>