@{
    ViewData["Title"] = "Home Page";
}


<header class="headerlanda m-0">
    <div class="  d-flex justify-content-center p-2 " @*style="border:1px solid black"*@>

        <div class="row p-2">
            <div class="col-md-12  text-center">
                <div class="display-2">
                    <div class="display-tc animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                        <p>
                            به فروشگاه خوش امدید
                        </p>

                        <div class="row">
                            <form class="d-flex ">
                                <input class="form-control me-sm-2" type="search" placeholder="جستوجو">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جستوجو</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
     </div>
     </div>
</header>

       


<div class="container">
    <div class="row">
        @*Aside*@
        <div class="Aside col-3">
            <div class="bs-component">

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        لباس مردانه
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        لباس زنانه
                        <span class="badge bg-primary rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        لباس ورزشی
                        <span class="badge bg-primary rounded-pill">1</span>
                    </li>
                </ul>
                <button class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code"></i></button>
            </div>
        </div>
        @*EndAside*@
        @*Main*@
        <div class="main col-9">


            <div class="row">
                <div class="card border-primary m-1 col-3" style="max-width: 25rem;">
                    <div class="card-header"> <h4 class="card-title justify-content-center">تیشرت زرد</h4></div>
                    <img src="~/Img/1.jpg" />
                    <div class="card-body">




                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>

                    </div>
                    <button class="btn btn-outline-primary">افزودن به سبد خرید</button>
                </div>

                <div class="card border-primary m-1 col-3" style="max-width: 25rem;">
                    <div class="card-header">Header</div>
                    <img src="~/Img/1.jpg" />
                    <div class="card-body">

                        <h4 class="card-title">تیشرت زرد</h4>
                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است .</p>

                    </div>
                    <button class="btn btn-outline-primary">افزودن به سبد خرید</button>
                </div>
                <div class="card border-primary m-1 col-3" style="max-width: 25rem;">
                    <div class="card-header">Header</div>
                    <img src="~/Img/1.jpg" />
                    <div class="card-body">

                        <h4 class="card-title">تیشرت زرد</h4>
                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>

                    </div>
                    <button class="btn btn-outline-primary">افزودن به سبد خرید</button>
                </div>
                <div class="card border-primary m-1 col-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <img src="~/Img/1.jpg" />
                    <div class="card-body">

                        <h4 class="card-title">تیشرت زرد</h4>
                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>

                    </div>
                    <button class="btn btn-outline-primary">افزودن به سبد خرید</button>
                </div>
                <div class="card border-primary m-1 col-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <img src="~/Img/1.jpg" />
                    <div class="card-body">

                        <h4 class="card-title">تیشرت زرد</h4>
                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>

                    </div>
                    <button class="btn btn-outline-primary">افزودن به سبد خرید</button>
                </div>
                <div class="card border-primary m-1 col-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <img src="~/Img/3.jpg" />تیشرت زرد</>
                    <div class="card-body">

                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>

                    </div>
                    <button class="btn btn-outline-primary">افزودن به سبد خرید</button>
                </div>

            </div>

        </div>
        @*EndMain*@
    </div>
</div>