@using Store.AspProject.Services.Interfces
@{
    ViewData["Title"] = "Home Page";
}
 @inject IProductService  ProductService;

<header class="headerlanda  ml-1 border border-info justify-content-center" onload="loadingpage()">
    <div class="  d-flex justify-content-center p-2 " @*style="border:1px solid black"*@>

        <div class="row p-0 text-center ">
            <div class="col-md-12  " >
                <div class="display-2">
                    <div class="display-tc animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                        <p>
                            به فروشگاه خوش آمدید
                        </p>

                        <div class="row" style="width:50rem">
                            <form class="d-flex " asp-controller="home" asp-action="Search">
                                <input class="form-control me-sm-2"  type="search" name="Title" placeholder="جستوجو">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جستوجو</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
     </div>
     </div>
</header>
<div class="container ">
                <div class="row ">
                    @*Aside*@
                   


                    @await Component.InvokeAsync("ShowGroups")


                    @*EndAside*@
                    @*Main*@
                    <div class="main col-9">


                        <div class="row">
                            @{
                                var res = ProductService.GetAllProduct();
                            }
                         @foreach (var item in res)
                         {
                             <partial name="BoxPartial" model="@item" />
                         }
                            


                        </div>

                    </div>
                    @*EndMain*@
                </div>
            </div>
       


