@{
    ViewData["Title"] = "Home Page";
}


<header class="headerlanda m-0">
    <div class="  d-flex justify-content-center p-2 " @*style="border:1px solid black"*@>

        <div class="row p-2">
            <div class="col-md-12  text-center">
                <div class="display-2">
                    <div class="display-tc animate-box fadeIn animated-fast" data-animate-effect="fadeIn">
                        <p>
                            به فروشگاه خوش امدید
                        </p>

                        <div class="row">
                            <form class="d-flex ">
                                <input class="form-control me-sm-2" type="search" placeholder="جستوجو">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جستوجو</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
     </div>
     </div>
</header>

       


<div class="container">
    <div class="row">
        @*Aside*@
        <div class="Aside col-3">
            <div class="bs-component">

                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        لباس مردانه
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        لباس زنانه
                        <span class="badge bg-primary rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        لباس ورزشی
                        <span class="badge bg-primary rounded-pill">1</span>
                    </li>
                </ul>
                <button class="source-button btn btn-primary btn-xs" type="button" tabindex="0"><i class="bi bi-code"></i></button>
            </div>
        </div>
        @*EndAside*@
        @*Main*@
        <div class="main col-9">


            <div class="row">
               
                <partial name="BoxPartial" />
             

            </div>

        </div>
        @*EndMain*@
    </div>
</div>