@using Store.AspProject.DataLayer.UserViewModel

@model UserLoginViewModel



<div class="contanier">

    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li> /
                <li class="breadcrumb-item active" aria-current="page">ورود</li>
            </ol>
        </nav>
    </div>


    <div class="row justify-content-center">
        <div class="col-4" style="border: 2px solid #f184b5 ;padding:30px 20px; ">
            <form asp-controller="Account" asp-action="Login" method="post">
              
                <div class="form-group">
                    <label for="exampleInputEmail1">ایمیل</label>
                    <input asp-for="UserEmail" class="form-control"  placeholder="ایمیل خود را وارد کنید">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label asp-for="PassWord">رمز عبور</label>
                    <input asp-for="PassWord" class="form-control"  placeholder="رمز خود را وارد کنید">
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">مرا به خاطر بسپار</label>
                </div>
                <button type="submit" class="btn btn-primary ">ورود</button>
            </form>
        </div>
    </div>
</div>