@using Store.AspProject.DataLayer.Models.user;
@{
    ViewData["Title"] = "پایان ثبت نام حساب کاربری";


    var user = ViewBag.User as user;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">فروشگاه </a></li> /
            <li class="breadcrumb-item active" aria-current="page">پایان ثبت نام </li>
        </ul>
    </nav>
</div>
<div class="alert alert-success">
    <h2>@user.user_name عزیز!</h2>
    <p>ثبت نام با موفقیت انجام شد </p>
    <p> ایمیلی حاوی لینک فعالسازی برای ایمیل @user.UserEmail ارسال شد </p>
    <p> جهت ادامه ثبت نام وارد ایمیل شوید و روی لینک کلیک کنید </p>
    

</div>