

@using Store.AspProject.DataLayer.Models.Product
@model IEnumerable<Product>




    @if(ViewBag.res==true)
    {
        <div class="alert alert-danger">
        <p>
        محصول مورد نظر با موفقیت حذف شد
        </p>
        </div>
    }





<a href="/admin/Product/Create" class="btn btn-success">افزودن</a>




        <table class="table">

            <thead>

                <tr>

                    <th>عنوان</th>
                    <th>سر عنوان</th>
                    <th> قیمت</th>
             
                    <th> گروه</th>
                    <th>دستورات</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductTitle</td>
                        <td>@item.ProductHeadTitle</td>
                        <td>@item.Price</td>
                        <td>@item.ProductGroup.GroupName</td>

                        <td>
                            <a class="btn btn-danger" href="/admin/Product/Delete/@item.ProductId">حذف</a>
                            <a class="btn btn-warning" href="/admin/Product/EditProduct/@item.ProductId">ویرایش</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

